
<h1>Top 10 crypto </h1>
 
 <div id="APIDATA"> 
     
 <form class="search-form"><input id="searchbar" placeholder="Search Your Favorite Crypto!"/><button type="submit">Search</button></form>
    


</div>
<script type="module" src="./js/dashboard.js"></script>
{{!-- <script src="/server.js"></script> --}}