
<h1>This is behind Auth after login/signup </h1>
 
 <div id="APIDATA"> 
    {{dataapi}}


</div>
{{!-- <script type="module" src="./js/dashboard.js"></script> --}}
{{!-- <script src="/server.js"></script> --}}