<h1>Top 10 crypto </h1>
 <form class="search-form"><input id="searchbar" placeholder="Search Your Favorite Crypto!"/><button type="submit">Search</button></form>
 <div id="APIDATA">
</div>
<script type="module" src="./js/dashboard.js"></script>
<script type="module" src="./js/search.js"></script>