<h1>Top 10 crypto </h1>

 <div id="APIDATA" class="">
     <div class="table-responsive">
    <table class="table" id="tableCrypto">
  <thead>
    <tr>
      <th scope="col" style= "border-collapse: collapse;border: 1px solid gray;margin: 5px;" >Rank</th>
      <th id= 'ticker' style= "border-collapse: collapse;border: 1px solid gray;margin: 5px;"scope="col">name</th>
            
            
             
      <th id= 'Price'   style= "border-collapse: collapse;border: 1px solid gray;margin: 5px;"scope="col">Price</th>
      <th id= 'Volume'  style= "border-collapse: collapse;border: 1px solid gray;margin: 5px;"scope="col">Volume 24hrs</th>
      <th id= 'Supply'  style= "border-collapse: collapse;border: 1px solid gray;margin: 5px;"scope="col">Circulating supply</th>
       
    </tr>
  </thead>
  <tbody>
  </tbody>
    
   
   
  </tbody>
</table> 
</div>

</div>
<script type="module" src="./js/dashboard.js"></script>
<script type="module" src="/js/search.js"></script>