<h1>Search any Cryptocurrency within our Encylopedia</h1>
<form class="search-form"><input id="searchbar" placeholder="Search Your Favorite Crypto!"/><button type="submit">Search</button></form>
<div id="APIDATA" class="">
</div>
<script type="module" src="/js/search.js"></script>
 {{!-- <script type="module" src="./js/watchlist.js"></script>  --}}