<div class="container">
  <div class="d-flex justify-content-center">
<h1>Explore Our Cryptopedia!</h1>
</div>
</div>
<form class="search-form"><input
    id="searchbar" type="search" class="form-control"
    placeholder="Which Crypto are you interested in learning more about?"/>
  
  
  <button type="submit" class="btn btn-dark">Search</button>
  </form>
<div id="APIDATA" class="">
</div>
<script type="module" src="/js/search.js"></script>
