<h1>Welcome to the watchlist! </h1>
 
 {{!-- <form class="watchlist-form-title"><input id="watchlist" placeholder="title"/><button type="submit">Watchlist</button> --}}

{{!-- <form class="watchlist-form"><input id="watchlist" placeholder="Add your new crypto"/><button type="submit">Watchlist</button> --}}

<body>
    <div class="row justify-space-between-md"></div>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Note Taker </a>
      <div class="icons">
        <i class="fas fa-save text-light save-note"></i>
        <i class="fas fa-plus text-light new-note"></i>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 list-container">
          <div class="card">
            <ul class="list-group"></ul>
          </div>
        </div>
        <div class="col-8">
          <input
            class="note-title"
            placeholder="Crypto Title"
            maxlength="300"
            type="text"
          />
          
          
        </div>





<div class="item">
          <p>Tell us about your favorite crypto!</p>
          <textarea rows="5"></textarea>
        
<button id="Submit" class="btn-no-style">Submit</button>
</div>






<script src="./js/watchlist.js"></script>
 {{!-- <script type="module" src="./js/watchlist.js"></script>  --}}